body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full-img{
    position: relative;
}
.displayed-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
button{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 5px 0 0 5px;
}
.thumb-bar{
    display: flex;
    height: 150px;
    width: 640px;
    background-color: brown;
}